/* ------------------ COLORS ----------------- */
/* ------------------ CSS RESET ----------------- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 93.75%;
}

body {
  background-color: hsl(0deg, 0%, 100%);
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/* ------------------ CSS RESET ----------------- */
/* ------------------ RATING SECTION ----------------- */
.main-container {
  width: 82.8rem;
  padding: 8rem;
  position: relative;
  background: url(../images/bg-pattern-top-desktop.svg) no-repeat, url(../images/bg-pattern-bottom-desktop.svg) no-repeat right bottom;
}

.rating-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.rating-section .user-container {
  width: 39%;
}
.rating-section .user-container .rating-title {
  font-size: 3.4rem;
  font-weight: 700;
  color: hsl(300deg, 43%, 22%);
  line-height: 0.85;
  margin-bottom: 1.5rem;
  letter-spacing: -2px;
}
.rating-section .user-container .rating-text {
  color: hsl(300deg, 43%, 22%);
  font-weight: 500;
  font-size: 1.05rem;
}
.rating-section .stars-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
  row-gap: 1rem;
}
.rating-section .stars-container .stars-rating {
  display: flex;
  background-color: hsl(300deg, 24%, 96%);
  padding: 0.9rem 1.8rem;
  align-items: center;
  width: 26.8rem;
  border-radius: 0.5rem;
}
.rating-section .stars-container .stars-rating .stars-row {
  display: flex;
  margin-right: 1.8rem;
  gap: 0.5rem;
}
.rating-section .stars-container .stars-rating .stars-row .star-icon {
  width: 1rem;
}
.rating-section .stars-container .stars-rating .stars-text {
  color: hsl(300deg, 43%, 22%);
  font-weight: 700;
}

/* ------------------ TESTIMONIAL SECTION ----------------- */
.testimonial-section {
  display: flex;
  justify-content: space-between;
}
.testimonial-section .testimonial-container {
  display: flex;
  flex-direction: column;
  color: hsl(300deg, 24%, 96%);
  background-color: hsl(300deg, 43%, 22%);
  width: 21.1rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
}
.testimonial-section .testimonial-container .customer-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem;
}
.testimonial-section .testimonial-container .customer-container .customer {
  display: flex;
  flex-direction: column;
}
.testimonial-section .testimonial-container .customer-container .customer .customer-name {
  font-weight: 700;
}
.testimonial-section .testimonial-container .customer-container .customer .customer-verified {
  color: hsl(333deg, 80%, 67%);
}
.testimonial-section .testimonial-container .customer-container .customer-icon {
  width: 2.8rem;
  border-radius: 999px;
  margin-right: 1.4rem;
}
.testimonial-section .testimonial-container .testimonial-text {
  line-height: 1.4;
}

/* ------------------ FOOTER ----------------- */
.attribution {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
}
.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/* ------------------ HELPER CLASSES ----------------- */
.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mr1 {
  margin-right: 2.4rem;
}

.mr2 {
  margin-right: 4.8rem;
}/*# sourceMappingURL=style.css.map */